node_modules

server/node_modules
server/npm-*

client/node_modules
client/npm-*
client/*.js
client/*.css
client/*.png
client/*.eot
client/*.svg
client/*.ttf
client/*.woff
client/*.woff2
client/public/dist
