@import '_variables';
@import '~font-awesome/css/font-awesome.css';

.main-layout {
    display: flex;
    flex: 1;
}

.view-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $white;
}

.particlesjs-background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0.2;
}


.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
