@import '_variables';

.app-frame {
  height: 25px;
  padding: 0 5px;
  position: relative;

  color: $white;
  background-color: mix($black, $white, 95%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  user-select: none;
  -webkit-app-region: drag;

  .history-arrow {
    margin: 0 3px;
  }

  .frame-btns {
    height: 100%;
    display: flex;
    -webkit-app-region: no-drag;
  }

  .frame-btn {
    height: 100%;
    width: 35px;
    margin: 0 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba($white, 0.07);
    }
  }
}
