@import '_variables';

* {
	box-sizing: border-box;
	outline: none;

	&:focus {
		outline: none;
	}
}

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Arial';
	overflow: hidden;
}

#root {
	display: flex;
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: $black;
	overflow: hidden;
}


a {
	color: rgba($black, 0.7);
	text-decoration: none;
	cursor: pointer;
}

ul {
	list-style: none;
}
