@import '_variables';

.player {
  width: auto;
  height: auto;
  position: relative;

  &:hover {
    .pl-controls {
      opacity: 1;
    }
  }
}

.pl-controls {
  width: 100%;
  height: 30px;
  bottom: 0;
  position: absolute;

  color: $white;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;

  span {
    cursor: pointer;
  }
}

.volume-control {
  display: flex;
  align-items: center;
}

.player-time {
  font-size: 12px;
}

video {
  width: 100%;
  height: 100%;
}
