@import '_variables';

.show-header {
	display: flex;
	height: 450px;
	padding: 5% 10%;
	position: relative;
	color: $white;

	background-size: cover;
	background-repeat: no-repeat;

	z-index: 0;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right, rgba(10, 10, 10, 0.5), rgba(0, 0, 0, 0.7));
		z-index: -1;
	}

	.show-poster img {
		max-height: 300px;
	}

	.show-info {
		padding: 20px;
		margin-left: 15px;
	}

	.genres {
		color: $light-grey;
	}
}
