@import '_variables';

$show-card-height: 270px;

.show-card {
  height: $show-card-height;
  max-width: 470px;
  margin: 5px;
  display: flex;
  border: 1px solid rgba($black, 0.05);
  border-radius: 5px;
  background-color: $white;

  img {
    max-height: $show-card-height - 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .info {
    padding: 15px;
  }

  .title {
    margin: 5px 0;
    color: $black;
    font-size: 16px;
  }

  .year {
    color: rgba($black, 0.7);
  }
}

.hr {
  margin: 10px 20px;
  border-bottom: 1px solid rgba($black, 0.05);
}
