@import '~semantic-ui-css/components/popup.min.css';

@import '_variables';

$show-card-height: 200px;

.show--poster {
    max-width: 150px;
    margin: 5px;

    position: relative;
    border-radius: 4px;
    border: 1px solid rgba($black, 0.05);

    a {
        height: $show-card-height;
    }

    img {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        object-fit: contain;
    }
}

.title-show-popup {
    font-size: 9px !important;
}
