@import '_variables';

.show-header {
	display: flex;
	flex: 1;
	padding: 5% 10%;
	position: relative;
	color: $white;

	background-size: cover;
	background-repeat: no-repeat;

	z-index: 1;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right, rgba(10, 10, 10, 0.5), rgba(0, 0, 0, 0.7));
		z-index: -1;
	}

	.show-poster img {
		max-height: 300px;
	}

	.show-info {
		padding: 20px;
		margin-left: 15px;
	}

	.details {
		color: rgba($white, 0.7);

		span {
			margin: 0 3px;
	    margin-right: 15px;
		}

		i {
			color: $white;
		}
	}
}

.show-background {
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	filter: blur(17px);
  overflow: hidden;
	z-index: 0;
}
