@import '_variables';

.show-card {
    height: 274px;
    max-width: 450px;
    margin: 5px;
    display: flex;
    border: 1px solid rgba($black, 0.05);
    border-radius: 5px;
    background-color: $white;

    img {
        max-height: 273px;
    }

    .info {
        padding: 15px;
    }

    .title {
        margin: 5px 0;
        color: $black;
        font-size: 16px;
    }
}


.hr {
    margin: 10px 20px;
    border-bottom: 1px solid rgba($black, 0.05);
}
