@import '_variables';

.sidebar {
	width: $sidebar-width;
    color: $dirty-white;
	background-color: $night-grayish-blue;
}

.sb-profile {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgba($black, 0.3);

    .sb-avatar {
        width: 35px;
        border-radius: 50%;
    }

    .sb-user-info {
        flex: 1;
        flex-direction: column;
    }

    .sb-username {
        text-transform: uppercase;
    }

    div {
        margin: 0 5px;
    }
}


.sb-item {
    height: 35px;
    padding: 0 30px;
    line-height: 35px;
}

.sb-title {
    height: 20px;
    margin-top: 15px;
    padding: 0 30px;
    line-height: 20px;
    color: rgba($white, 0.3);
    font-size: 12px;
    text-transform: uppercase;
}

.sb-item {
    &:hover {
        background-color: rgba($white, 0.1)
    }
}

.sb-link {
    color: rgba($white, 0.5);

    &:hover {
        color: rgba($white, 0.9);
    }
}

.sb-link-active {
    color: $white;
}

.sb-hr {
	margin: 10px 20px;
	border-bottom: 1px solid rgba($white, 0.3);
}
