@import '_variables';

.sidebar {
	width: 50px;
	color: rgba($white, 0.7);
}

.sb-profile {
    min-width: 180px;
	padding: 10px;
	display: flex;
	align-items: center;
	background-color: rgba($black, 0.3);

	.avatar {
		width: 35px;
		height: 35px;
		line-height: 35px;
	}

	.sb-user-info {
		flex: 1;
		flex-direction: column;
		color: $white;
		text-transform: uppercase;
	}

	.sb-username {
		font-size: 13px;
	}

	.online {
		color: rgba($white, 0.7);
		font-size: 9px;
	}

	div {
		margin: 0 5px;
	}
}


.sb-item {
    line-height: 40px;
    font-size: 18px;
    text-align: center;
}

.sb-title {
	height: 20px;
	margin-top: 15px;
	padding: 0 30px;
	line-height: 20px;
	color: rgba($white, 0.3);
	font-size: 12px;
	text-transform: uppercase;
}

.sb-item {
	&:hover {
		background-color: rgba($white, 0.1)
	}
}

.sb-link {
	color: rgba($white, 0.5);

	&:hover {
		color: rgba($white, 0.9);
	}
}

.sb-link-active {
	color: $primary-color;
}

.sb-hr {
	margin: 10px 20px;
	border-bottom: 1px solid rgba($white, 0.3);
}
