@import '_variables';

.search {
	height: 45px;
	padding: 5px 25px;
	color: rgba($white, 0.5);
	background-color: $black;

	display: flex;
	align-items: center;

	i {
		margin-right: 5px;
	}

	input {
		height: 100%;
		width: 100%;
		color: rgba($white, 0.5);
		background-color: transparent;
		outline: 0;
		border: 0;
	}
}
