@import '_variables';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Arial';
}

#root {
	display: flex;
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: $black;
}


a {
	cursor: pointer;
	text-decoration: none;
}

ul {
	list-style: none;
}
