@import '_variables';

.show-page {
	position: relative;
	color: $white;
  background-color: $black !important;

	z-index: 1;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right, rgba(10, 10, 10, 0.5), rgba(0, 0, 0, 0.7));
		z-index: 1;
	}

	.show-poster  img {
    max-height: 100%;
  }

	.show-info {
		margin-left: 25px;
	}

	.details {
		color: rgba($white, 0.7);

		span {
			margin: 0 3px;
	    margin-right: 15px;
		}

		i {
			color: $white;
		}
	}
}

.show-overview {
  max-height: 300px;
  display: flex;
  flex: 1;
}

.show-background {
  top: 0;
  left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	filter: blur(17px);
  overflow: hidden;
	z-index: 0;
}


.show-section {
  padding: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  color: $white;
  z-index: 1;

  .show-header {
    max-height: 50px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-size: 22px;
  }

  .show-tab {
    max-height: 300px;
    min-width: 100px;
    padding: 5px;
    flex: 1;
    background-color: rgba($black, 0.3);
    overflow: auto;
  }
}

.sm-item {
  padding: 5px 5px;
  cursor: pointer;

  &:hover {
    background-color: rgba($white, 0.01);
  }
}
