@import '_variables';

.show {
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	flex-direction: column;
	color: $white;
	font-size: 15px;

	.info-card {
		display: flex;
		padding: 5% 10%;
		flex: 1;
		flex-direction: row;
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
		z-index: 0;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(to bottom right, rgba(10, 9, 27, 0.9), rgba(0, 0, 0, 0.9));
			z-index: -1;
		}
	}

	.show-poster {
		img {
			max-width: 300px;
		}
	}

	.show-info {
		padding: 20px;
		margin-left: 15px;
	}

	.genres {
		color: $light-grey;
	}

	.creators {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
