@import '_variables';

.single-element {
	display: flex;
	min-width: 350px;
	height: 278px;
	margin: 5px;
	flex: 1 0 35%;

	.info {
		flex: 1;
		padding: 10px;
	}

	.name {
		font-size: 18px;
	}

	.overview {
		flex: 1;
		white-space: pre-line;
		overflow: auto;
		text-overflow: ellipsis;
	}
}
